[submodule "tp0-presentacion-git-masouto94"]
	path = tp0-presentacion-git-masouto94
	url = git@github.com:algo1unsam/tp0-presentacion-git-masouto94.git
[submodule "tp1-gitmerge-grupo1"]
	path = tp1-gitmerge-grupo1
	url = git@github.com:algo1unsam/tp1-gitmerge-grupo1.git
[submodule "tp2-casa-masouto94"]
	path = tp2-casa-masouto94
	url = git@github.com:algo1unsam/tp2-casa-masouto94.git
[submodule "tp3-empanadas-masouto94"]
	path = tp3-empanadas-masouto94
	url = git@github.com:algo1unsam/tp3-empanadas-masouto94.git
[submodule "tp4-gofthrone-masouto94"]
	path = tp4-gofthrone-masouto94
	url = git@github.com:algo1unsam/tp4-gofthrone-masouto94.git
[submodule "tp-5-mensajeros-masouto94"]
	path = tp-5-mensajeros-masouto94
	url = git@github.com:algo1unsam/tp-5-mensajeros-masouto94.git
