[submodule "tp0-presentacion-git-masouto94"]
	path = tp0-presentacion-git-masouto94
	url = git@github.com:algo1unsam/tp0-presentacion-git-masouto94.git
[submodule "tp1-gitmerge-grupo1"]
	path = tp1-gitmerge-grupo1
	url = git@github.com:algo1unsam/tp1-gitmerge-grupo1.git
[submodule "tp2-casa-masouto94"]
	path = tp2-casa-masouto94
	url = git@github.com:algo1unsam/tp2-casa-masouto94.git
[submodule "tp3-empanadas-masouto94"]
	path = tp3-empanadas-masouto94
	url = git@github.com:algo1unsam/tp3-empanadas-masouto94.git
[submodule "tp4-gofthrone-masouto94"]
	path = tp4-gofthrone-masouto94
	url = git@github.com:algo1unsam/tp4-gofthrone-masouto94.git
[submodule "tp-5-mensajeros-masouto94"]
	path = tp-5-mensajeros-masouto94
	url = git@github.com:algo1unsam/tp-5-mensajeros-masouto94.git
[submodule "tp4-bis-gofthrone-masouto94"]
	path = tp4-bis-gofthrone-masouto94
	url = git@github.com:algo1unsam/tp4-bis-gofthrone-masouto94.git
[submodule "pepitagame-masouto94"]
	path = pepitagame-masouto94
	url = git@github.com:algo1unsam/pepitagame-masouto94.git
[submodule "golosinas-herencia32-masouto94"]
	path = golosinas-herencia32-masouto94
	url = git@github.com:algo1unsam/golosinas-herencia32-masouto94.git
[submodule "dinoo-reventados"]
	path = dinoo-reventados
	url = git@github.com:algo1unsam/dinoo-reventados.git
[submodule "tp-game-25s1-carnepicante"]
	path = tp-game-25s1-carnepicante
	url = git@github.com:algo1unsam/tp-game-25s1-carnepicante.git
[submodule "tp-integrador-masouto94"]
	path = tp-integrador-masouto94
	url = git@github.com:algo1unsam/tp-integrador-masouto94.git
[submodule "academiademagia-masouto94"]
	path = academiademagia-masouto94
	url = git@github.com:algo1unsam/academiademagia-masouto94.git
